<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
      <title>This is the future recipeMeta Page</title>
  </head>

  <body>
    <header>
        <%- include('./partials/header'); %>
      </header>

      <main>
        <div class="hero-container flex-row">
            <section class="hero flex-column">
                <h1>All Recipes</h1>
                <br>
                <div class="seriousEats">
                    <nav>
                        <p><%=  entry.picture %></p>
                        <p><%=  entry.recipe_description %></p>
                        <p><%=  entry.time_to_complete %></p>
                    </nav>
                </div>
            </section>
        </div>
      </main>
  </body>