<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
  <title><%= recipe.recipe_name %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    main {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      text-align: center;
    }
    #display-pic {
      display: block;
      max-width: 100%;
      max-height: 500px;
      margin: 20px auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
      color: #438d39;
      margin-top: 30px;
    }
    p, ul {
      line-height: 1.6;
      color: white;
    }
    ul {
      padding-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>
    <section>
      <h1><%= recipe.recipe_name %></h1>
      <img id="display-pic" src="<%= recipe.recipe_picture %>" alt="Recipe picture">
      <h2>Description</h2>
      <p><%= recipe.recipe_description %></p>

      <h2>Ingredients</h2>
        <ul>
          <% ingredients.forEach((ingredient) => { %>
            <li><%= ingredient.measurement_qty %> <%= ingredient.measurement_unit %>: <%= ingredient.ingredient_name %></li>
          <% }) %>
        </ul>

     
        <h2>Instructions</h2>
        <ul>
          <% instructions.forEach((instruction) => { %>
            <li><%= instruction.order_number %>: <%= instruction.instruction_description %></li>
          <% }) %>
        </ul>
        

    </section>
  </main>

</body>
</html>